@font-face {
  font-family: "Punk Mono";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/AnzenKodo/punk-mono/master/punk-mono/woff2/punk-mono-regular.woff2")
    format("woff2");
}

:root {
  --punk-bg: #fefbfe;
  --punk-fg: #170327;
  --punk-bg-color: var(--punk-bg);
  --punk-fg-color: var(--punk-fg);
  --punk-red-color: #f20544;
  --punk-blue-color: #0583f2;
  --punk-brown-color: #b35c5d;
  --punk-green-color: #01a252;
  --punk-yellow-color: #f2b705;
  --punk-magenta-color: #36a598;
}
pre::selection {
  color: #fefbfe;
  background: #0583f2;
}
pre::-webkit-scrollbar {
  border: 1px solid var(--punk-fg-color);
  width: 1rem;
}
pre::-webkit-scrollar-track {
  background: var(--punk-fg-color);
}
pre::-webkit-scrollbar-thumb {
  background: var(--punk-fg-color);
}

pre {
  color: var(--punk-fg-color);
  font-size: 1.3rem;
}
code:not([class*="language-"]) {
  font-family: "Punk Mono", monospace;
  background: var(--punk-bg-color);
  padding: 0.2em;
  border: 1px solid var(--punk-fg-color);
}
pre[class*="language-"] {
  border: 1px solid var(--punk-fg-color);
}

pre code.hljs {
  font-family: "Punk Mono", monospace;
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: var(--punk-bg-color);
  color: var(--punk-fg-color);
}
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-strong,
.hljs-tag {
  color: var(--punk-red-color);
}
.hljs-code {
  color: var(--punk-blue-color);
}
.hljs-attribute,
.hljs-link,
.hljs-regexp,
.hljs-symbol {
  color: var(--punk-magenta-color);
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-emphasis,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-string,
.hljs-subst,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
  color: var(--punk-green-color);
}
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--punk-yellow-color);
}
.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
  color: var(--punk-brown-color);
}
.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-section,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-title,
.hljs-type {
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --punk-bg-color: #000000;
    --punk-fg-color: #fefbfe;
  }
}
