:root {
	--fg-color: var(--fg);
	--bg-color: var(--bg);
	--border: 1px solid var(--fg-color);
}

*:focus {
	outline: var(--border);
}

*,
:after,
:before {
	box-sizing: border-box
}

::selection {
	color: #fefbfe;
	background: #0583f2;
}

::-webkit-scrollbar {
	border: 1px solid var(--fg-color);
	width: 1rem;
}

::-webkit-scrollar-track {
	background: var(--fg-color);
}

::-webkit-scrollbar-thumb {
	background: var(--fg-color);
}

body {
	font-family: var(--font-name);
	background: var(--bg-color);
	color: var(--fg-color);
	font-variant-ligatures: normal;
	font-size: 1rem;
	max-width: 45rem;
	margin: auto;
	padding: 0 0.1rem;
	display: box-block;
	accent-color: var(--link-color);
}

/* Head Tags */

h1 {
	font-size: 3rem;
}

.header-anchor {
	color: var(--fg-color);
	text-decoration: underline var(--theme-color);
}

.header-anchor:hover {
	color: var(--fg-color);
}

/* Link Style */

a {
	color: var(--theme-color);
}

a:hover,
a:focus {
	background: var(--theme-color);
	color: var(--bg-color);
}

a[href*="//"]:not([href*="mysite.com"])::after
{
	/* External link style */
	content: '⬈';
}

a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}

/* List Style */

dt {
	font-weight: bold;
	background: var(--fg-color);
	color: var(--bg-color);
	width: fit-content;
	padding: 0.1em;
}

dd {
	outline: var(--border);
	margin-bottom: 1em;
}

dd p {
	margin: 0.5em;
}

/* Summary tags */

summary {
	color: var(--fg-color);
	padding: 0.5em;
}

details[open] {
	border: var(--border);
	padding: 0 .5em;
	margin-bottom: 1rem;
}

/* table tags */
table {
	border-collapse: collapse;
}

th,
td {
	border: var(--border);
	padding: 0.3em;
	font-size: 1.3rem;
}

th {
	font-weight: bold;
	background: var(--fg-color);
	color: var(--bg-color);
	text-align: center;
	outline: 1px solid var(--bg-color);
}

/* Blockquote tag */

blockquote {
	border: var(--border);
	border-left: 1em solid var(--fg-color);
	font-style: italic;
}

blockquote p {
	margin: 0.5em;
}

blockquote p::before,
blockquote p::after {
	content: '"';
}

/* Dilated list tags */

dt {
	font-weight: bold;
	background: var(--fg-color);
	color: var(--bg-color);
	width: fit-content;
	padding: 0.3em;
}

dd {
	outline: var(--border);
	padding: 0.1em;
	margin-bottom: 1em;
}

/* Code block */

mark {
	background-color: #f2b705;
}

img {
	max-width: 100%;
}

/* Demarcating edits */

del {
	background: #f20544;
}

ins {
	background: #01a252;
	text-decoration: none;
}

/*** Form Elements ***/

legend {
	background: var(--fg-color);
	color: var(--bg-color);
	padding: .3em;
	font-weight: bold;
}

/* Button tag */

button, input[type="button"] {
	font-family: var(--font-name);
	background: var(--theme-color);
	color: var(--bg-color);
	text-decoration: none;
	font-weight: bold;
	padding: .3em .5em;
	font-size: 1rem;
	border: 0;
	margin-bottom: .5em;
}

button[type="reset"], input[type="reset"] {
	background: var(--fg-color);
	color: var(--bg-color);
}

/* text field */

textarea {
	font-family: var(--font-name);
	border: var(--border);
	font-size: 1rem;
}

/* Progress bar */

progress {
	border: 0;
	width: 50%;
}

/** input fields **/

input {
	border: var(--border);
	font-family: var(--font-name);
	padding: .1em;
	font-size: 1rem;
}

/* input file field */

input[type=file] {
	font-weight: bold
}

input[type=file]::file-selector-button {
	border: var(--border);
	background: var(--theme-color);
	color: var(--bg-color);
	font-weight: bold;
	padding: .2em;
}

/* input range field */

input[type=range] {
  appearance: none;
  width: 50%;
  background: var(--bg-color);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
	height: .5rem;
}

input[type=range]::-webkit-slider-thumb {
	height: 2rem;
  width: 2rem;
  background: var(--theme-color);
  cursor: pointer;
  appearance: none;
	margin-top: -.8em;
	border-radius: 100%;
}

/* Checkbox */
.task-list {
	list-style: none;
	padding-left: 0;
	border: none;
}
input[type=checkbox] {
	appearance: none;
	border: none;
}

input[type="checkbox"]:checked::before {
	content: '☑️';
}

input[type="checkbox"]::before {
	content: '⬜';
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: var(--fg);
		--fg-color: var(--bg);
	}
}
